<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webjars Demo</title>

<!--  Static resources form Webjars -->
<!--Bootstrap CSS-->
<link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<!--Bootstrap JS-->
<script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!--VUE JS -->
<script src="/webjars/vue/2.5.13/vue.min.js"></script>

</head>
<body>
   <div class="container">
      <div class="header clearfix">
         <nav>
            <ul class="nav nav-pills pull-right">
               <li role="presentation" class="active"><a href="#">Home</a></li>
               <li role="presentation"><a href="#">About</a></li>
               <li role="presentation"><a href="#">Contact</a></li>
            </ul>
         </nav>
         <h3 class="text-muted">BORAJI.COM</h3>
      </div>
      <div class="jumbotron">
      	<div id="app">
		  <p>{{ message }}</p>
		</div>
         <h1>This is Using Webjars in Spring Boot application</h1>
         <div class="alert alert-success" role="alert"><b>Server Time is</b> <span th:text="${dateTime}"></span></div>
      </div>
   </div>
   
   
<script>
var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue! This is first program'
	  }
	})
</script>   
</body>
</html>